@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMachina";
  src: local("NeueMachina"),
    url(./fonts/NeueMachina-Ultrabold.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(80deg, rgb(104, 18, 37), rgb(3, 14, 126));
  z-index: -10;
  color: white;
  background-image: url(./bg.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-white-violet {
  @apply bg-transparent hover:bg-violet-700 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded;
}

.branding {
  font-family: "NeueMachina";
  font-size: 2rem;
}

.footer-msg { 
  font-family: "NeueMachina";
  font-size: 1.5rem;
}

.interactive-text {
  font-family: "NeueMachina";
}

.card-header {
  background-color: rgba(0,0,0,0.5)
}

#up {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(
    80deg,
    rgb(0, 0, 2),
    rgba(104, 18, 37, 0.342)
  );
  filter: blur(80px);
  z-index: -9;
  animation: down 40s infinite;
  overflow: hidden;
}

#down {
  position: absolute;
  right: 0px;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(
    80deg,
    rgba(104, 18, 37, 0.342),
    rgb(104, 18, 37)
  );
  filter: blur(80px);
  z-index: -8;
  animation: up 30s infinite;
  overflow: hidden;
}

#left {
  position: absolute;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(
    80deg,
    rgba(3, 13, 126, 0.568),
    rgba(12, 1, 4, 0.733)
  );
  filter: blur(80px);
  z-index: -7;
  animation: left 35s 1s infinite;
  overflow: hidden;
}

#right {
  position: absolute;
  top: -400px;
  right: 0;
  height: 800px;
  width: 800px;
  border-radius: 50%;
  background-image: linear-gradient(
    80deg,
    rgb(250, 139, 97),
    rgba(12, 1, 4, 0.733)
  );
  filter: blur(160px);
  z-index: -6;
  animation: right 45s 0.5s infinite;
  overflow: hidden;
}

@keyframes down {
  0%,
  100% {
    top: -100px;
  }
  70% {
    top: 700px;
  }
}

@keyframes up {
  0%,
  100% {
    bottom: -100px;
  }
  70% {
    bottom: 700px;
  }
}

@keyframes left {
  0%,
  100% {
    left: -100px;
  }
  70% {
    left: 1300px;
  }
}

@keyframes right {
  0%,
  100% {
    right: -100px;
  }
  70% {
    right: 1300px;
  }
}
